<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
        <nav>
                <div class="nav-wrapper" style="background-color: #000000;">
                  <a href="#" class="brand-logo" style="background-color: #000000;">
                    <img src="https://www.trakindo.co.id/themes/custom/trakindo_2016/images/logo.png" width="150px;">
                  </a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/kontak">Contac Us</a></li>
                    <li><a href="/login">Login</a></li>
                  </ul>
                </div>
              </nav>
    <div class="container">
            <p>Selamat Datang Di Website Trakindo</p>

            
            <table>
              <tr>
                <td valign="top">
                  <img src="https://www.trakindo.co.id/sites/default/files/inline-images/epg.jpg">
                </td>
                <td valign="top">
                  <p>
              {{ range . }}
              <h2>{{ .NamaArtikel}}</h2>

              {{ end }}
            </p>

             <p style="text-align:justify;">
              {{ range . }}
              {{ .KeteranganArtikel}}
              
              {{ end }}
            </p>
                </td>
              </tr>
            </table>
            
    </div>
    
</body>
</html>